*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    box-shadow: 0px 0px 3px black;
    align-items: center;
    padding: 10px 40px;
}
nav .space{
    display: flex;
    margin: 0px 10px;
}
nav select{
    border: none;
}
.nav1{
    display: flex;
    margin: 10px;
    align-items: center;
    color:rgba(0, 0, 0, 0.556) ;
}
.nav1 label{
    margin: 0px 5px;
    font-size: 20px;
}
.word{
    display: flex;
    align-items: center;
    margin: 20px;
}
.word i{
    color:rgba(0, 0, 0, 0.551) ;
    margin-right: 1%;
}
.word h2{
    color: rgba(140, 59, 180, 0.847);
}
.bod{
    text-align: center;
    padding-top: 10%;
}